.toc {
    right: 2em;
    top: 5em;
    float: right;
    position: fixed;
    width: 310px
}
.toc ul {
    list-style-type: none;
    padding-left: 1em;
}

img{
    max-width: 100%
}

.logo {
    margin-left: 1em;
}
.logo-text {
    margin-left: 1em;
    vertical-align: 7px;
    font-size: 18px;
}
