.vscode-highlight {
  counter-reset: line;
}

.vscode-highlight-line::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 16px;
  margin-left: -8px;
  -webkit-user-select: none;
  user-select: none;
  color: red;
}

* {
  scroll-behavior: smooth;
}
