.vscode-highlight {
  counter-reset: line;
}

.vscode-highlight-line::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 16px;
  margin-left: -8px;
  -webkit-user-select: none;
  user-select: none;
  color: red;
}

.anchorLink.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}

.anchorLink.after {
  display: inline-block;
  padding-left: 4px;
}

h1 .anchorLink svg,
h2 .anchorLink svg,
h3 .anchorLink svg,
h4 .anchorLink svg,
h5 .anchorLink svg,
h6 .anchorLink svg {
  visibility: hidden;
}

h1:hover .anchorLink svg,
h2:hover .anchorLink svg,
h3:hover .anchorLink svg,
h4:hover .anchorLink svg,
h5:hover .anchorLink svg,
h6:hover .anchorLink svg,
h1 .anchorLink:focus svg,
h2 .anchorLink:focus svg,
h3 .anchorLink:focus svg,
h4 .anchorLink:focus svg,
h5 .anchorLink:focus svg,
h6 .anchorLink:focus svg {
  visibility: visible;
}

a.anchor {
  display: inline-block;
  position: relative;
  top: -159px;
  visibility: hidden;
}

@media only screen and (max-width: 1279.95px) {
  a.anchor {
    top: -101px;
  }
}
