@charset "utf-8";


@media screen and (max-width:767px) {
	nav{
		padding: 0 0!important
	}
}
.link a:hover{
	text-decoration: none!important;
}
footer{
	color: #fff;
}
.oiFooter{
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FFF;
}

.footer-right{
	margin-top: 20px;
	font-size: 16px;
}
.footer-h3{
	color: #fff;
	line-height: 360%;
}
.footer-link{
	color: #fff!important;
	display: block;
	line-height: 300%;
}
.footer-link:hover{
	text-decoration: none!important;
	color: #3399ff!important;
}
.footer-link-decoration{
	color: #3399ff!important;
	font-size: 12px;
	margin-left: 6px;

}
.footer-logo{
	background-image:  url("../images/footer-left.png");
	height: 60px;
	width: 200px;
}

@media (max-width: 820px) {
  .hide-nav-on-xs {
    display:none;
  }
}
